<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>monster</display-name>
  <welcome-file-list>
    <welcome-file>/login.xhtml</welcome-file>
  </welcome-file-list>
<!--  <error-page> -->
<!--     <exception-type>com.sun.faces.context.FacesFileNotFoundException</exception-type> -->
<!--     <location>/error/404.xhtml</location> -->
<!--   </error-page> -->
<!--   <error-page> -->
<!--     <exception-type> -->
<!--          java.lang.NullPointerException -->
<!--     </exception-type> -->
<!--     <location>/error/500.xhtml</location> -->
<!--   </error-page> -->
<!--   <error-page> -->
<!--     <exception-type>javax.faces.application.ViewExpiredException</exception-type> -->
<!--     <location>/login.xhtml</location> -->
<!--   </error-page> -->
<!--   <error-page> -->
<!--     <error-code>500</error-code> -->
<!--     <location>/error/500.xhtml</location> -->
<!--   </error-page> -->
<!--   <error-page> -->
<!--     <error-code>404</error-code> -->
<!--     <location>/error/404.xhtml</location> -->
<!--   </error-page> -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6Ld7pMESAAAAAHd1VihJkqPUXAJVwU3Cghc8fzrq</param-value>
    </context-param>
   
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6Ld7pMESAAAAAMhr5WSk5bcRrff8Y08NtDi8Buoq</param-value>
    </context-param>
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>bluesky</param-value>
  </context-param>
  <context-param>
     <param-name>contextConfigLocation</param-name>
    <param-value>
    classpath*:conf/application-context.xml
     classpath*:conf/springsecurity-servlet.xml
     </param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  
  
 
<filter>
<filter-name>springSecurityFilterChain</filter-name>
<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
</filter>
 
<filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher><!-- mandatory to allow the managed bean to forward the request to the filter -->
</filter-mapping>
  
</web-app>